$normal-height: 100vh;

$normal-font-size: 0.875rem;
$normal-font-color: #65758b;
$bold-font-color: black;

$normal-border: 0.5px solid rgb(154, 154, 154);
$border-radius: 0.75rem;

$table-padding: 1rem 1.5rem;
$small-table-padding: 0.875rem 1rem;

$icon-size: 2.5rem;

$active-color: #2463eb;

@mixin h1($font-weight: bold, $font-size: 1.5rem, $color: black, $letter-spacing: 2px) {
    letter-spacing: $letter-spacing;
    font-weight: $font-weight;
    font-size: $font-size;
    font-style: italic;
    color: $color;
    margin: 0;
}

@mixin p($font-size: 0.875rem) {
    font-size: $font-size;
}

@mixin img($size: $icon-size) {
    width: $size;
    height: $size;
    object-fit: contain;
}